<!DOCTYPE html>
<html>
<head>
  <title>Butterflies</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
  <div id="nav">
    <ul id="nav_links">
      <li><%= link_to("New Game", :root, id: "new_game") %></li>
      
      <% if current_user %>
        <li><%= link_to("Welcome, " + current_user.username + "!", user_path(current_user.username))%></li>
      <% else %>
        <li><%= link_to("Sign In", :new_login, :remote => true) %></li>
        <li><%= link_to("Sign Up", :new_user, :remote => true) %></li>
      <% end %>
      
        <li><%= link_to("High Scores", :games) %></li>
        
      <% if current_user %>
        <li><%= link_to("Sign Out", login_path(current_user.id), :method => :delete) %></li>
      <% end %>
        <li id="music"><a href="#" class="turned_off"></a></li>
    </ul>
    <div id="login_form"><%= render :partial => '/logins/form' %></div>
    <div id="signup_form"><%= render :partial => '/users/form' %></div>
  </div>
  
  <div id="content">
    <%= yield %>
  </div>
  
  <div id="footer">
    <h1>Lydia Butterfly</h1>
    <p><strong>1. Click Start. | 2. Click sections to change their color.<br/>
      3. Keep clicking until sections no longer match adjacent sections.</strong></p>
    <p><em>Illustration, Design, Development, and Music by <a href="http://carapolis.com/" target="_blank">Cara Heacock</a></em></p>
  </div>
  
</div>

</body>
</html>
